*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    width: 100%;
    height: 150px;
    background:black;
    padding: 10px;
    display: flex;
    align-items: center;
}
.content-ads{
    width: 70%;
    height: 90%;
    margin: auto;
    /* background: red; */
}
.logo{
    width: 20%;
    height: 100%;
    float: left;
    /* background: red; */
}
.logo img{
    width: 100%;
    height: 100%;
    transform: translateX(-40px);
    object-fit: contain;
}
.ads{
    width: 80%;
    height: 100%;
    float:right;
    /* background: blue; */
    display: flex;
    align-items: center;
}
.ads img{
    width: 90%;
    height: 80%;
    transform: translateX(70px);
    object-fit: contain;
}
.menu{
    width: 100%;
    height: 70px;
    /* margin-top: 10px; */
    background: red;
}
.right-title{
    width: 50%;
    height: 100%;
    float: left;
    display:flex;
    align-items: center;
    justify-content: center;
}
.right-title ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.right-title ul li{
    float:left;
}
.right-title ul li a{
    font-size: 22px;
    font-weight: bold;
    font-family: Koulen;
    text-decoration: none;
    display: block;
    padding: 15px 22px;
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
}
.right-title ul li a:hover{
    opacity: 1;
}
.left-title{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}
.left-title ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.left-title ul li{
    float:left;
}
.left-title ul li a{
    font-size: 19px;
    font-weight: bold;
    font-family:Italic;
    text-decoration: none;
    display: block;
    padding: 18px;
    color: white;
    opacity: 0.7;
    transform: translateX(-70px);
    text-transform: uppercase;
}
.left-title ul li a:hover{
    opacity: 1;
}
.home-container{
    width: 80%;
    height: 650px;
    background: rgb(239, 231, 239);
    margin: 30px auto;
    box-sizing: border-box;
    padding: 20px;
}
.left-content{
    width: 75%;
    height: 50%;
    background: rgb(62, 56, 55);
    float: left;
}
.bg-img{
    width: 60%;
    height: 100%;
    float: left;
    /* background: black; */
}
.picture{
    width: 100%;
    height:90%;
    float: left;
    overflow: hidden;
    /* background: rgb(28, 24, 28); */
    background-image: url('https://cdn.sabay.com/cdn/media.sabay.com/media/Samphy-2023/December/Week-(26)/65790e2a6ba2a_1702432260_medium.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.box{
    width: 100px;
    height: 10%;
    background: rebeccapurple;
    float: left;
}
.picture h4{
    font-size: 18px;
    font-family: Koulen;
    color:bisque;
    transform: translateY(195px);
    margin-left: 10px;
    transition: 0.7s;
}
.picture h4:hover{
    transform: translateY(130px);
    color: red;
}
.picture span{
    display: none;
}
.picture h4:hover span{
    display: block;
    color: rgb(249, 231, 231);
}
.small-box{
    width: 40%;
    height: 100%;
    display: block;
    /* background: rgb(160, 146, 146); */
    float: left;
}
.small-box h4{
    transform: translateY(210px);
}
.img{
   background-position: center;
   background-size:contain;
   background-repeat: no-repeat;
}
.right-conetnt{
    width: 24%;
    margin-left: 1%;
    height: 49%;
    /* background: blue; */
    float: left;
}
.right-conetnt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}